body {
	background: linear-gradient(45deg, #A798B3, #A9A9A9);
	padding-bottom: 60px;
}

.set-contact {
	margin-right: 20px !important;
	margin-bottom: 20px !important;
}

.margin-right {
	margin-right: 10px !important;
}

.margin-bottom {
	margin-bottom: 10px !important;
}

@media (max-width: 625px) {
	.set-contact {
		margin-right: 0 !important;
	}
}